{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>

<!-- Header Section -->
<header>
    <div class="logo">
        <a href="{% url 'product_list' %}"><img src="{% static 'img/b2apng.png' %}" alt="logo"></a>
    </div>
    <div class="search-bar">
        <form method="get" action="{% url 'product_list' %}">
            <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search products...">
            <button type="submit">Search</button>
        </form>
    </div>
    
    <i id='search-icon' class="fa fa-search search-icon"></i> <!-- Search icon -->

    <div class="user-icons">
        <a href="{% url 'profile_view' %}"><i class="fa-solid fa-user"></i>
            {% if user.is_authenticated %}
                {{ user.username }}
            {% else %}
                Guest
            {% endif %}
        </a>
        <a href="{% url 'cart_view' %}"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
    <button class="hamburger">&#9776;</button> <!-- Hamburger menu -->

</header>


<nav>
    <ul>
        <li><a href="{% url 'product_list' %}">Home</a></li>
        {% for category in categories %}
            <li><a href="{% url 'product_by_category' category_id=category.id %}">{{ category.name }}</a></li>
        {% endfor %}
        <li><a href="{% url 'contact' %}">Funding</a></li>
        <li><a href="{% url 'contact' %}">Projects</a></li>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
    </ul>
</nav>

<body>
    <section class="contact-section">
        <div class="contact-form-container">
            <h2>Contact Us</h2>
            <form id="contactForm" action="{% url 'contact' %}" method="post">
                {% csrf_token %}
                <div>
                    <label for="subject">Subject</label>
                    <input type="text" id="subject" name="subject" required>
                </div>
                <div>
                    <label for="message">Message</label>
                    <textarea id="message" name="message" required></textarea>
                </div>
                <button type="submit">Send Message</button>
            </form>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 My E-Commerce Store</p>
        <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
    </footer>
</body>
<script src="{% static 'js/accounts.js' %}"></script>

</html>